
h1 {
  font-family: 'Arial', sans-serif;
  font-size: 40px;
  color: gold;
  background-color: darkgray;
  text-align: center;
  margin: 0;
  padding: 10px;
}

p {
  font-size: 16px;;
  color: white;
}

h2 {
  color:gold;
  text-align: center;
  font-size: 45px;
}



body {
  font-family: 'Verdana', sans-serif;
  background-color: black;
}
header {
  text-align: center;;
  margin: 0;
}


nav {
  width: 100%;
  background-color: darkblue;
  text-align: center;
  padding: 10px;
  margin: 0;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
nav a {
  margin-right: 30px;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: gold;
}

section {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  background-color: darkblue;

}

section.country {
    margin: 0px auto;
    padding-top: 0;
    padding-bottom: 0;
    height: 500px;
    text-align: center;
    
}

img.country {
  width: auto;
  height: 350px;
  margin: auto;
  outline-style: double;
  outline-color: black;
  float: left;
}
/* Футер */
footer {
  background-color: #023e8a;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}