
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:black;
}

header {
  background: #333;
  color: white;
  padding: 10px 20px;

  display: flex;            
  justify-content: space-between; 
  align-items: center;        
}

p { 
  font-size: 16px;
   color: white; }

header h1 {
  margin: 0;
}

nav {
  display: flex;
  gap: 15px; 
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}


main {
  display: flex;
  flex-wrap: wrap;  
  gap: 20px;     
  padding: 20px;
}

section.country {
  flex: 1 1 300px;  
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background: blue;
}

section.country img {
  width: 100%;      
  border-radius: 10px;
}
